<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" name="email" id="email">
        <input type="password" name="psword" id="psword">
        <input type="password" name="repsword" id="repsword">
        <input type="text" name="name" id="username">
        <section id="league">
            <option value="좋아하는 리그"> 좋아하는 리그 </option>
            <option value="1"> 1 </option> 
            <option value="2"> 2 </option> 
            <option value="3"> 3 </option> 
            <option value="4"> 4 </option> 
        </section>
        <section id="player">
            <option value="좋아하는 선수"> 좋아하는 선수</option>
            <option value="1"> 1</option>
            <option value="2"> 2</option>
            <option value="3"> 3</option>
            <option value="4"> 4</option>
        </section>
        <section id="country">
            <option value="나라"> 나라 </option>
            <option value="1"> 1 </option>
            <option value="2"> 2 </option>
            <option value="3"> 3 </option>
        </section>
    </form>
</body>
</html>