@charset "utf-8";
.m_bottom>.conwrap>.right>.login {
    width: 250px;
    height: 200px;
    margin-top: 11px;
}

.right>.login>.loginTable {
    padding: 5px;
    background: #ffffff;
}

.right>.login>.loginTable>table {
    border-collapse: separate;
    border-spacing: 6px;
    background: rgba(255, 255, 255, 0.06);
    padding: 1px;
    border-radius: 10px;
    margin: 0 auto 0;
}

.right>.login>.loginTable>table>tbody>tr {
    width: 100%;
    display: block;
}

.right>.login>.loginTable>table>tbody>tr>td {
    height: 30px;
    position: relative;
    padding-left: 30px;
}

.right>.login>.loginTable>table>tbody>tr>td>input {
    width: 100%;
    height: 28px;
    padding: 3px;
    border: none;
    border-bottom: 2px solid #D1D1D4;
    transition: all 0.4s;
    box-sizing: border-box; 
}
.right>.login>.loginTable>table>tbody>tr>td>input:active,
.right>.login>.loginTable>table>tbody>tr>td>input:focus {
    outline: none;
    border-bottom-color: #6A679E;
}
.right>.login>.loginTable>table>tbody>tr>td .id_icon,
.right>.login>.loginTable>table>tbody>tr>td .pw_icon {
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
}
.right>.login>.loginTable>table>tbody>tr:nth-child(1)>td .id_icon {
    background-image: url('../IMG/ID.png');
}

.right>.login>.loginTable>table>tbody>tr:nth-child(2)>td .pw_icon {
    background-image: url('../IMG/password.png'); 
}
.loginTable table td input::placeholder {
    color: #333;
    transition: all 0.4s ease;
}
.loginTable table td input:focus::placeholder {
    color: rgb(167, 175, 255);
    font-size: 10.5px;
    position: absolute;
    top: -3px;
    left: 0;
    transition: all 0.4s ease;
}
.right>.login>.loginTable>button {
    padding: 4px 7px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    margin-left: 30px;
    background:none;
    border: none;
    align-items: center;
    color: #4C489D;
    cursor: pointer;
    transition: all 0.4s;
    border-radius: 4px;
    border: 2px solid #D4D3E8;
}

.login>.loginTable>button:nth-of-type(1):active,
.login>.loginTable>button:nth-of-type(1):hover {
    border-color: #6A679E;
    outline: none;
    transition: all 0.4s;
    transform: translateY(-2px);
}

.login>.loginTable>button:nth-of-type(2):active,
.login>.loginTable>button:nth-of-type(2):hover {
    border-color: #6A679E;
    outline: none;
    transition: all 0.4s;
    transform: translateY(-2px);
}
