@charset "utf-8";

@media screen and (max-width:450px) {
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background: rgb(80, 24, 224);
        background: radial-gradient(circle, rgba(80, 24, 224, 1) 0%, rgba(0, 0, 0, 1) 100%);
    }

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        height: 60px;
        overflow: hidden;
        background: rgba(0, 0, 0, 1);
        color: #fff;
    }

    .nav {
        width: 100%;
        height: 100%;
        z-index: 3;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 120px;
        height: 40px;
        z-index: 3;
        line-height: 20px;
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }

    .logo>div {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-top: 5px;
        width: 17px;
        height: 16px;
        background: linear-gradient(220.94deg, #5018E0 -3.9%, #FFFFFF 132.74%);
    }

    .logo>div>a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }

    .logo>div>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: auto;
    }

    .logo>p {
        display: block;
        width: 54px;
        height: 17px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1px;
        align-items: center;
        color: #FFFFFF;
        margin-left: 17px;
    }

    .menu {
        width: 228px;
        position: fixed;
        right: -228px;
        top: 0;
        height: 100%;
        background-color: black;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease;
        z-index: 1000;
    }
    #menu-button{
        background: none;
        border: none;
    }
    #menu-button>span{
        color: #fff;
        font-size: 20px;
    }
    .menu.show {
        right: 0;
    }

    .menu>ul {
        align-items: center;
    }

    .menu>div:first-child {
        width: 228px;
        height: 110px;
        background: linear-gradient(90deg, #A78BF0 0%, #5018E0 100%);
    }

    .menu>div:first-child>button {
        width: 20px;
        height: 20px;
    }

    .menu>div:first-child>button>img {
        width: 100%;
        height: 100%;
        justify-content: center;
        image-rendering: auto;
    }

    .menu_login {
        width: 200px;
        display: flex;
        margin: 27px 45px 15px 15px;
    }

    .menu>div:first-child>.menu_login>a {
        color: #FFFFFF;
        text-decoration: none;
        width: 166px;
        height: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        font-size: 13px;
        color: #FFFFFF;
        margin-left: 20px;
    }

    .menu>div:first-child>.menu_login>div {
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }

    .menu>div:first-child>.menu_login>div>img {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .menu>div:nth-child(2)>ul {
        display: block;
        width: 100px;
        margin-left: 33px;
    }

    .menu>div:nth-child(2)>ul>li {
        width: 100px;
        display: inline-block;
        text-align: center;
        margin-right: 20px;
        line-height: 50px;
        margin-bottom: 30px;
    }

    .menu>div:nth-child(2)ul>li:first-child {
        margin-top: 33px;
    }

    .menu>div:nth-child(2)>ul>li>a {
        text-decoration: none;
        color: #fff;
        display: block;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-size: 14px;
        font-weight: 600;
        line-height: 28.96px;
        text-align: left;
    }

    .sub {
        background-color: rgba(255, 255, 255, 0);
        z-index: 3;
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
    }

    .sub>a:first-child {
        display: block;
        margin: auto;
    }

    .search {
        margin-right: 21px;
        width: 16px;
        height: 16px;
        text-align: center;
        background: url(/IMG/Search.png) no-repeat center/cover;
    }

    .sub ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    main {
        width: 100%;
        margin-top: 113px;
        z-index: 0;
    }

    fieldset {
        width: 400px;
        height: 500px;
        border-radius: 40px;
        margin: auto;
        background: rgba(0, 0, 0, 0.2);
        border: none;
    }

    fieldset>div {
        width: 300px;
        margin: 144px auto;
    }

    fieldset>div>h2 {
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        display: flex;
        align-items: center;
        background: linear-gradient(181.44deg, #A78BF0 1.22%, #5018E0 130.73%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    fieldset>div>p {
        font-family: 'SF Pro';
        font-style: normal;
        font-weight: 610;
        font-size: 14px;
        line-height: 12px;
        align-items: center;
        color: #ffffff;
    }

    fieldset>div>.ID {}

    .ID>input {
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        background: #FFFFFF;
        border: 2px solid #000000;
        border-radius: 10px;
    }

    input::placeholder {
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        display: flex;
        align-items: center;
        color: #5018E0;
    }

    fieldset>div>.PW {
        margin-top: 16px;
    }

    .PW>input {
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        background: #FFFFFF;
        border: 2px solid #000000;
        border-radius: 10px;
    }

    fieldset>div>div:nth-of-type(3) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    fieldset>div>div:nth-of-type(3)>a:nth-child(1) {
        width: 130px;
        height: 14px;
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 17px;
    }

    fieldset>div>div:nth-of-type(3)>a:nth-child(2) {
        width: 57px;
        height: 14px;
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        text-align: right;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 17px;
    }


    fieldset>div>div:nth-of-type(4) {
        width: 100%;
        height: 70px;
        background: linear-gradient(112.79deg, #5018E0 2.24%, #A78BF0 100.2%);
        border-radius: 15px;
        margin-top: 10px;
    }

    fieldset>div>div:nth-of-type(4)>input {
        width: 100%;
        height: 100%;
        text-align: center;
        background: none;
        color: #ffffff;
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px; 
        border: none;
    }
}