@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(80, 24, 224);
    background: radial-gradient(circle, rgba(80, 24, 224, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 200px;
    overflow: hidden;
    background: rgba(0, 0, 0, 1);
    color: #fff;

}

.nav {
    width: 1400px;
    height: 50px;
    z-index: 3;
    margin: 75px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 300px;
    height: 50px;
    z-index: 3;
    margin-right: 20px;
    line-height: 50px;
    float: left;
    margin-bottom: 10px;
}

.logo>div {
    width: 51px;
    height: 48px;
    display: inline-block;
    background: url(/WASD_0507/IMG/LOGO.png) center/cover;
    margin-top: 5px;
}

.logo>p {
    display: inline-block;
    width: 154px;
    height: 48px;
    font-family: Inter;
    font-weight: 600;
    font-size: 40px;
    margin-top: 0;
    margin-left: 9px;
    line-height: 48px;
}

.menu {
    width: 429px;
    height: 100%;
    margin-right: 20px;
}

.menu>ul {
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}

.menu>ul>li {
    display: inline-block;
    text-align: center;
    margin-left: 0;
    margin-right: 20px;
    line-height: 50px;

}

.menu>ul>li:first-child {
    margin-left: 0;
}

.menu>ul>li>a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: 500;
    line-height: 28.96px;
    text-align: left;

}

.sub {
    background-color: rgba(255, 255, 255, 0);
    z-index: 3;

    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

.search {
    margin-right: 50px;
    width: 26px;
    height: 26px;
    text-align: center;
    background: url(/WASD_0507/IMG/Search.png) no-repeat center/cover;
}

.sub ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sub ul li {
    display: inline-block;
    margin-right: 20px;
    text-align: center;
}

.sub ul li:last-child {
    margin-right: 0;
}

.sub ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: 500;
    line-height: 28.96px;
    text-align: left;

}

main {
    width: 100%;
    height: 100%;
    margin: 0;
}

#Realtime_Re {
    display: block;
    margin: 99px auto;
    width: 1600px;
}

#Realtime_Re>div:first-child>h2 {
    width: 222px;
    height: 48px;
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    align-items: center;
    color: #FFFFFF;
}

#Review_list {
    width: 1600px;
    margin-top: 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.re_li {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 60px;
}

.re_li>.re {
    width: 700px;
    height: 300px;
    display: flex;
    border-radius: 25px;
    margin-bottom: 60px;
    background: rgba(0, 0, 0, 0.2);

}

.re>.re_img {
    margin-top: 31px;
    width: 180px;
    height: 230px;
    margin-left: 31px;
    border: 1px solid #fff;
}

.re>.re_text {
    width: 430px;
    margin-left: 21px;
    margin-top: 31px;
}

.re_text>p {
    font-family: 'SF Pro';
    font-style: normal;
    font-weight: 510;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}