@charset "utf-8";

@media screen and (max-width:450px) {

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background: rgb(80, 24, 224);
        background: radial-gradient(circle, rgba(80, 24, 224, 1) 0%, rgba(0, 0, 0, 1) 100%);
    }

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        height: 60px;
        overflow: hidden;
        background: rgba(0, 0, 0, 1);
        color: #fff;
    }

    .nav {
        width: 100%;
        height: 100%;
        z-index: 3;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 120px;
        height: 40px;
        z-index: 3;
        line-height: 20px;
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }

    .logo>div {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-top: 5px;
        width: 17px;
        height: 16px;
        background: linear-gradient(220.94deg, #5018E0 -3.9%, #FFFFFF 132.74%);
    }

    .logo>div>a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
   
    }

    .logo>div>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: auto;
    }

    .logo>p {
        display: block;
        width: 54px;
        height: 17px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1px;
        align-items: center;
        color: #FFFFFF;
        margin-left: 17px;
    }

    .menu {
        width: 228px;
        position: fixed;
        right: -228px;
        top: 0;
        height: 100%;
        background-color: black;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease;
        z-index: 1000;
    }
    #menu-button{
        background: none;
        border: none;
    }
    #menu-button>span{
        color: #fff;
        font-size: 20px;
    }
    .menu.show {
        right: 0;
    }

    .menu>ul {
        align-items: center;
    }

    .menu>div:first-child {
        width: 228px;
        height: 110px;
        background: linear-gradient(90deg, #A78BF0 0%, #5018E0 100%);
    }

    .menu>div:first-child>button {
        width: 20px;
        height: 20px;
    }

    .menu>div:first-child>button>img {
        width: 100%;
        height: 100%;
        justify-content: center;
        image-rendering:auto;
    }
    .menu_login {
        width: 200px;
        display: flex;
        margin: 27px 45px 15px 15px;
    }

    .menu>div:first-child>.menu_login>a {
        color: #FFFFFF;
        text-decoration: none;
        width: 166px;
        height: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        font-size: 13px;
        color: #FFFFFF;
        margin-left: 20px;
    }

    .menu>div:first-child>.menu_login>div {
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }

    .menu>div:first-child>.menu_login>div>img {
        width: 100%;
        height: 100%;
        justify-content: center;
    }
    .menu>div:nth-child(2)>ul{
        display: block;
        width: 100px;
        margin-left: 33px;
    }

    .menu>div:nth-child(2)>ul>li {
        width: 100px;
        display: inline-block;
        text-align: center;
        margin-right: 20px;
        line-height: 50px;
        margin-bottom: 30px;
    }   

    .menu>div:nth-child(2)ul>li:first-child {
        margin-top: 33px;
    }

    .menu>div:nth-child(2)>ul>li>a {
        text-decoration: none;
        color: #fff;
        display: block;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-size: 14px;
        font-weight: 600;
        line-height: 28.96px;
        text-align: left;
    }

    .sub {
        background-color: rgba(255, 255, 255, 0);
        z-index: 3;
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
    }

    .sub>a:first-child {
        display: block;
        margin: auto;
    }

    .search {
        margin-right: 21px;
        width: 16px;
        height: 16px;
        text-align: center;
        background: url(/IMG/Search.png) no-repeat center/cover;
    }

    .sub ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .Img {
        width: 330px;
        height: 84px;
        margin: 74px auto;

    }

    .Img>div:nth-of-type(1) {
        width: 270px;
        height: 17px;
        text-align: center;
        margin: auto;
    }

    .Img>div:nth-of-type(1)>p {
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 17px;
        align-items: center;
        text-align: center;
        color: #A78BF0;
    }

    .Img>div:nth-of-type(2) {
        width: 316px;
        height: 64px;
        text-align: center;
        margin: auto;
    }

    .Img>div:nth-of-type(2)>p {
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 32px;
        align-items: center;
        text-align: center;
        color: #ffffff;
    }

    .Img>div:nth-of-type(2)>p>strong {
        background: linear-gradient(358.66deg, #A78BF0 5.11%, #5018E0 39.86%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    main {
        width: 100%;
        height: 100%;
        margin: 73px auto;
    }

    #review {
        width: 380px;
        overflow: hidden;
        margin: auto;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 25px 25px 25px 25px;
    }

    #review>.now_review {
        width: 390px;
        height: 120px;
        padding-bottom: 40px;
        margin: 0 auto;
    }

    .now_review>div:nth-child(1) {
        width: 79px;
        height: 14px;
        text-align: center;
        font-family: Noto Sans KR;
        font-size: 14px;
        font-weight: 700;
        line-height: 43.44px;
        color: #fff;
        margin-left: 17px;
        padding-top: 12px;
    }

    .now_review>.re_img {
        width: 330px;
        height: 90px;
        margin: 25px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .re_img>.reveiews {
        width: 310px;
        height: 80px;
        border-radius: 10px;
        background: linear-gradient(90deg, #A78BF0 0%, #5018E0 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    /*.re_img>div>div {}*/

    .re_img>div:nth-child(1) {}

    .reveiews>div:nth-child(1) {
        width: 50px;
        height: 66px;
        margin-left: 33px;
    }

    .reveiews>div:nth-child(1)>a>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: auto;

    }

    .re_img>div>div:nth-child(2) {
        width: 200px;
        height: 50px;
        margin-left: 38px;
        color: #fff;
        font-family: Noto Sans KR;
        font-size: 10px;
        font-weight: 500;
        text-align: left;
        margin-top: 0;
    }

    .re_img>div>div:nth-child(2)>div {
        margin-top: 5px;
    }

    .re_img>.next_btn {
        background: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-left: -25px;
    }

    .re_img>.next_btn>button {
        width: 30px;
        height: 30px;
        background: url(/IMG/NEXTm.png) center/cover;
        border: none;
    }

    #musical_1 {
        width: 380px;
        height: 160px;
        border-radius: 12px;
        margin: 25px auto;
        background: rgba(0, 0, 0, 0.4);

    }

    #musical_1>.m1 {
        width: 360px;
        height: 150px;
        margin: 48px auto;
    }

    .m1>.more {
        display: flex;
        justify-content: space-between;
        margin: 0 17px 0 14px;
    }

    .m1>.more>div:nth-of-type(1) {
        width: 88px;
        height: 15px;
        margin-top: 14px;
    }

    .m1>.more>div:nth-of-type(1)>p {
        margin: 0;
    }

    .m1>.more>div:nth-of-type(1)>p>a {
        font-family: Noto Sans KR;
        font-size: 13px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }

    .m1>.more>div:nth-of-type(2) {
        width: 55px;
        height: 15px;
        margin-top: 14px;
    }

    .m1>.more>div:nth-of-type(2)>p {
        margin: 0;
    }

    .m1>.more>div:nth-of-type(2)>p>a {
        font-family: Noto Sans KR;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        background: rgba(167, 139, 240, 1);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    .m1>.mu_img {
        display: flex;
        width: 360px;
        height: 130px;
        margin: 14px auto;
        margin-bottom: 14px;
    }

    .m1>.mu_img>div {
        width: 280px;
        height: 100px;
        margin-left: 15px;
    }

    .m1>.mu_img>div>a>img {
        width: 87px;
        height: 100%;
        object-fit: cover;
        image-rendering: auto;
    }


    #musical_2 {
        width: 380px;
        height: 160px;
        border-radius: 12px;
        margin: 25px auto;
        background: rgba(0, 0, 0, 0.4);

    }

    #musical_2>.m2 {
        width: 360px;
        height: 150px;
        margin: 48px auto;
    }

    .m2>.more {
        display: flex;
        justify-content: space-between;
        margin: 0 17px 0 14px;
    }

    .m2>.more>div:nth-of-type(1) {
        width: 88px;
        height: 15px;
        margin-top: 14px;
    }

    .m2>.more>div:nth-of-type(1)>p {
        margin: 0;
    }

    .m2>.more>div:nth-of-type(1)>p>a {
        font-family: Noto Sans KR;
        font-size: 13px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        text-decoration: none;
    }

    .m2>.more>div:nth-of-type(2) {
        width: 55px;
        height: 15px;
        margin-top: 14px;
    }

    .m2>.more>div:nth-of-type(2)>p {
        margin: 0;
    }

    .m2>.more>div:nth-of-type(2)>p>a {
        font-family: Noto Sans KR;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
        background: rgba(167, 139, 240, 1);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    .m2>.mu_img {
        display: flex;
        width: 360px;
        height: 110px;
        margin: 14px auto;
        margin-bottom: 14px;
    }

    .m2>.mu_img>div {
        width: 280px;
        height: 100px;
        margin-left: 15px;
    }

    .m2>.mu_img>div>a>img {
        width: 87px;
        height: 100%;
        object-fit: cover;
        image-rendering: auto;
    }
}