@charset "utf-8";

@media screen and (max-width:450px) {
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background: rgb(80, 24, 224);
        background: radial-gradient(circle, rgba(80, 24, 224, 1) 0%, rgba(0, 0, 0, 1) 100%);
    }

    .container {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        height: 60px;
        overflow: hidden;
        background: rgba(0, 0, 0, 1);
        color: #fff;
    }

    .nav {
        width: 100%;
        height: 100%;
        z-index: 3;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 120px;
        height: 40px;
        z-index: 3;
        line-height: 20px;
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
    }

    .logo>div {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-top: 5px;
        width: 17px;
        height: 16px;
        background: linear-gradient(220.94deg, #5018E0 -3.9%, #FFFFFF 132.74%);
    }

    .logo>div>a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }

    .logo>div>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: auto;
    }

    .logo>p {
        display: block;
        width: 54px;
        height: 17px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 1px;
        align-items: center;
        color: #FFFFFF;
        margin-left: 17px;
    }

    .menu {
        width: 228px;
        position: fixed;
        right: -228px;
        top: 0;
        height: 100%;
        background-color: black;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease;
        z-index: 1000;
    }
    #menu-button{
        background: none;
        border: none;
    }
    #menu-button>span{
        color: #fff;
        font-size: 20px;
    }
    .menu.show {
        right: 0;
    }

    .menu>ul {
        align-items: center;
    }

    .menu>div:first-child {
        width: 228px;
        height: 110px;
        background: linear-gradient(90deg, #A78BF0 0%, #5018E0 100%);
    }

    .menu>div:first-child>button {
        width: 20px;
        height: 20px;
    }

    .menu>div:first-child>button>img {
        width: 100%;
        height: 100%;
        justify-content: center;
        image-rendering: auto;
    }

    .menu_login {
        width: 200px;
        display: flex;
        margin: 27px 45px 15px 15px;
    }

    .menu>div:first-child>.menu_login>a {
        color: #FFFFFF;
        text-decoration: none;
        width: 166px;
        height: 15px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        font-size: 13px;
        color: #FFFFFF;
        margin-left: 20px;
    }

    .menu>div:first-child>.menu_login>div {
        width: 42px;
        height: 42px;
        border-radius: 50%;
    }

    .menu>div:first-child>.menu_login>div>img {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .menu>div:nth-child(2)>ul {
        display: block;
        width: 100px;
        margin-left: 33px;
    }

    .menu>div:nth-child(2)>ul>li {
        width: 100px;
        display: inline-block;
        text-align: center;
        margin-right: 20px;
        line-height: 50px;
        margin-bottom: 30px;
    }

    .menu>div:nth-child(2)ul>li:first-child {
        margin-top: 33px;
    }

    .menu>div:nth-child(2)>ul>li>a {
        text-decoration: none;
        color: #fff;
        display: block;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-size: 14px;
        font-weight: 600;
        line-height: 28.96px;
        text-align: left;
    }

    .sub {
        background-color: rgba(255, 255, 255, 0);
        z-index: 3;
        display: flex;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
    }

    .sub>a:first-child {
        display: block;
        margin: auto;
    }

    .search {
        margin-right: 21px;
        width: 16px;
        height: 16px;
        text-align: center;
        background: url(/WASD_0507/IMG/Search.png) no-repeat center/cover;
    }

    .sub ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    main {
        width: 100%;
        height: 100%;
    }

    #bar {
        margin-top: 94px;
    }

    .bar_menu {
        width: 400px;
        height: 130px;
        margin: 0 auto;
    }

    .bar_menu>h2 {
        width: 111px;
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        align-items: center;
        color: #FFFFFF;
    }

    .list {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 24px;
    }

    .list>button {
        width: 80px;
        height: 15px;
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
        background: none;
        border: none;
    }

    .list>button:nth-of-type(1)::after {
        content: " | ";
        margin-left: 6px;
        display: inline;
        width: 0;
        height: 100%;
        float: none;
        background: none;
    }

    .list>button:nth-of-type(2) {
        margin-left: -25px;
    }

    .genre {
        width: 400px;
        height: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-top: 14px;
    }

    .genre>button {
        box-sizing: border-box;
        width: 80px;
        height: 30px;
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid #FFFFFF;
        border-radius: 25px;
        color: #ffffff;
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 30px;
        margin-left: 10px;
    }

    .genre>button:active {
        background: linear-gradient(90deg, #A78BF0 0%, #5018E0 100%);
    }

    .genre>button:first-child {
        margin-left: 0;
    }

    .genre>button:last-of-type {
        width: 30px;
        height: 30px;
        flex: none;
        order: 3;
        flex-grow: 0;
        z-index: 2;
        margin-right: 0;
    }

    .genre>button:last-of-type>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: auto;
    }

    #musicals {
        margin-top: 14px;
    }

    .musicallist {
        width: 420px;
        height: 830px;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        overflow: hidden;
    }

    .musical_list {
        width: 100%;
        height: 100%;
        margin: 28px 23px 27px 23px;
    }

    .musical_list>.musical1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        width: 360px;
        height: 140px;
    }

    .musical1>.detail {
        width: 100px;
        height: 140px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-left: 20px;
        margin-top: 23px;
    }

    .musical1>div:first-child {
        margin-left: 23px;
    }

    .detail>.aa>div:nth-child(1) {
        width: 90px;
        height: 100px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .detail>.aa>div:nth-child(1)>a {
        width: 100%;
        height: 100%;
        display: block;
    }

    .aa>div:nth-child(1)>a>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        image-rendering: auto;
    }

    .aa>div:nth-child(2)>p {
        color: #ffffff;
        width: 100%;
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        align-items: center;
    }

    .musical_list>div:nth-child(n+2) {
        margin-top: 45px;
    }

    .musical_list>div:last-child {
    }

    #classic{
        display: none;
    }
    #comedy{
        display: none;
    }
    #drama{
        display: none;
    }
    #romance{
        display: none;
    }
}