@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/*헤더*/
@import url(Menu.css);

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans';
}

main {
    width: 100%;
}

/*메인 탑 배너*/
main>#photo_visual {
    margin: 29px auto 0;
    width: 1300px;
    height: 720px;
}

#photo_visual>.bgarea {
    width: 100%;
    height: 100%;
    background: url('../IMG/MainBgImg.png')center no-repeat;
    background-size: cover;
}

#photo_visual>.bgarea>.textarea {
    padding-top: 140px;
}

#photo_visual>.bgarea>.textarea>h3 {
    font-size: 40px;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0.5px;
    color: rgba(255, 245, 245, 0.94);
    margin-left: 100px;
}

main>hr {
    width: 1350px;
    margin-top: 31px;
}

main>#intro_team {
    margin: 0 auto;
    width: 100%;
    max-width: 1500px;
    border: 1px solid #000;
}

#intro_team>h2 {
    width: 312px;
    height: 89px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #000000;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

#intro_team>.teams {
    width: 100%;
    border: 1px solid #000;
    margin-top: 0;
}

/*메인 팀 소개*/
.teams>div {
    width: 100%;
    align-items: center;
    margin-top: 60px;
}

.teams>.left {
    width: 100%;
    padding-top: 100px;
    border: 1px solid #000;
    padding-bottom: 44px;
}

.left>div:nth-of-type(1) {
    width: 540px;
    height: 320px;
    margin-left: 112px;
}

.left>div:nth-of-type(1)>h3 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 72px;
    letter-spacing: 0.5px;
    color: #000000;
}
.left>div:nth-of-type(1)>p{
    font-family: 'Noto Sans';
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #000;
}
.left>div:nth-of-type(1)>a {
    display: block;
    width: 94px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
}

.teams>.right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 100px;
    border: 1px solid #000;
    padding-bottom: 44px;
}

.right>div:nth-of-type(1) {
    width: 540px;
    height: 320px;
}

.right>div:nth-of-type(1)>h3 {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 72px;
    letter-spacing: 0.5px;
    color: #000000;
}
.right>div:nth-of-type(1)>p{
    font-family: 'Noto Sans';
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #000;
}
.right>div:nth-of-type(1)>a {
    display: block;
    width: 94px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
}

/*footer*/
footer {
    margin: 0;
    width: 100%;
    background-color: #000;
    color: grey;
}

footer>h4 {
    margin: 0;
}

footer>div>p:last-of-type {
    margin: 0;
}