@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.container {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #000;
}

.container>.m_top {
    width: auto;
    margin: 0 auto;
}

.m_top>h1 {
    width: 203px;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 0.5px;
    color: #000000;
    margin: 108px auto;
    margin-bottom: 0;
}

.m_bottom {
    width: 100%;
    margin-top: 34px;
}

.m_bottom>.conwrap {
    width: 100%;
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    border: 1px solid #000;
}

.m_bottom>.conwrap>.logo {
    width: 60px;
    height: 60px;
    border: 1px solid #000;
}
.conwrap>.logo>a>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
}
.m_bottom>.conwrap>.nav_wrap {
    border: 1px solid #000;
    height: 60px;
    width: 700px;
}
.m_bottom>.conwrap>.nav_wrap>nav{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.nav_wrap>nav>ul {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav_wrap>nav>ul>li {
    display: inline-block;
    margin-right: 70px;
    height: 100%;
    margin-left: 0;
    width: 15%;
    height: 60px;
    border: 1px solid #000;
    text-align: center;
    line-height: 60px;
}
.nav_wrap>nav>ul>li:hover {
    background-color: gray;
transition: all 2s;

}
.nav_wrap>nav>ul>li:nth-of-type(4) {
margin-right: 0;
}

nav>ul>li>a {
    color: #000;
    text-decoration: none;
}

.m_bottom>.conwrap>.menu_btn {
    width: 120px;
    height: 50px;
    border: 1px solid #000;
    display: flex;
}

.menu_btn>button {
    width: 85px;
    height: 50px;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
}

.menu_btn>.ham {
    width: 30px;
    height: 30px;
    margin: auto;
}

.ham>div {
    width: 100%;
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 7px;
}
.hidden_logo{
    display: none;
}