@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

#container {
    width: 100%;
    overflow: hidden;
    margin-top: 149px;
    padding-bottom: 150px;
}

#bgimg>.pagetitle {
    width: 100%;
    height: 342px;
    text-align: center;
    z-index: 5;
}

#bgimg>.pn1 {
    background: url("../IMG/page_visual1.jpg") no-repeat center;
}

.pagetitle h2 {
    padding-top: 120px;
    font-size: 34px;
    color: #fff;
    font-weight: 500;
}

.pagetitle h2::after {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    margin: 5px auto 10px;
    background: #c40f39;
}

.pagetitle p {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}

.pagelist {
    position: relative;
    max-width: 1400px;
    width: 100%;
    margin: -29px auto 85px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.pagelist>ul {
    overflow: hidden;
    background: #fff;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagelist>ul.m1 li {
    width: calc(100% / 8);
    list-style: none;
}

.pagelist>ul li a {
    display: block;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 15px;
    color: #666;
    background: #fff;
    border-right: 1px solid #ddd;
}

#CEO {}

#CEO>.title1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #000;
    text-align: center;
    letter-spacing: 2px;
}

#CEO>.title1::after {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    margin: 5px auto 95px;
    background: #c40f39;
}

#CEO>.title1>span {
    color: #c40f39;
}

.history {
    height: 3800px;
    border: 1px solid #000;
    position: relative;
    width: 100%;
}

.history .bgarea1 {
    position: absolute;
    left: 0;
    top: 555px;
    z-index: 1;
    background: #f8f8f8;
    width: 100%;
    height: 600px;
}

.history .bgarea2 {
    position: absolute;
    left: 0;
    top: 1650px;
    z-index: 1;
    background: #f8f8f8;
    width: 100%;
    height: 570px;
}

.history .bgarea3 {
    position: absolute;
    left: 0;
    top: 2720px;
    z-index: 1;
    background: #f8f8f8;
    width: 100%;
    height: 510px;
}

.history .history_line {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    width: 1px;
    height: 100%;
    background: #ddd;
}

.history_info>div {
    position: absolute;
    width: 50%;
    height: auto;
    z-index: 4;
}

.his_tit_area {
    padding-top: 60px;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #ddd;
    margin-left: 60px;
}

.tr {
    text-align: right;
}

.tl {
    text-align: left;
}

.his_tit_area>.tit {
    font-size: 33px;
    color: #333;
    line-height: 130%;
    font-weight: 300;
}

.his_tit_area>.tit>span {
    color: #c40f39;
}

.his_tit_area>.year {
    position: absolute;
    top: 122px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.tr>.his_tit_area {
    padding-right: 60px;
}

.tL>.his_tit_area {
    padding-left: 60px;
}

.tr>.his_tit_area>.year {
    right: 300px;
}

.tl>.his_tit_area>.year {
    left: 240px;
}

.tl>.his_txt {
    height: 300px;
}

.tl>.his_txt>div {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin: 0 0 10px 60px;
}

.tl>.his_txt>div>p {
    margin: 0;
    padding: 0;
    float: right;
    text-align: left;
    color: #777;
    font-size: 14px;
    margin-left: 20px;
}

.tl>.his_txt>div>span {
    color: #c40f39;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 130%;
}

.tr>.his_txt {
    height: 300px;
}

.tr>.his_txt>div {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0 60px 10px 0px;
}

.tr>.his_txt>div>p {
    margin: 0;
    padding: 0;
    float: right;
    text-align: right;
    color: #777;
    font-size: 14px;
    margin-right: 20px;
}

.tr>.his_txt>div>span {
    color: #c40f39;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 130%;
}

.history_info .history1 {
    right: 50%;
    left: 0;
    top: 0;
}

.history_info>.history2 {
    left: 50%;
    top: 555px;
}

.history_info>.history3 {
    right: 50%;
    left: 0;
    top: 1210px;
}

.history_info>.history4 {
    left: 50%;
    top: 1650px;
}

.history_info>.history5 {
    right: 50%;
    left: 0;
    top: 2220px;
}

.history_info>.history6 {
    left: 50%;
    top: 2720px;
}

.history_info>.history7 {
    right: 50%;
    left: 0;
    top: 3230px;
}

footer {
    width: 100%;
    background: #111;
    position: relative;
    padding: 60px 0 65px;
}

.foot {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.foot_top {
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    max-height: 50px;
}

.foot_top>h1>img {
    text-align: center;
    vertical-align: auto;
}

.foot_top>ul {
    overflow: hidden;
}

.foot_top>ul>li {
    display: inline-block;
    padding-right: 11px;
    margin-right: 10px;
    background: url(../IMG/fm_bar.gif) no-repeat right center;
}

.foot_top>ul>li>a {
    color: rgba(255, 255, 255, 0.5);
}

.foot_top>ul>li:last-child {
    background: none;
}

.foot_btm {
    padding-top: 20px;
}

.foot_btm>.foot_info {
    float: left;
    margin-right: 55px;
}

.foot_info>h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

.foot_info>address {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
}

.foot_info>address>span {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 3px;
}

.foot_info>p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
}

.foot_btm>.cc {
    float: left;
}

.cc>h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

.cc>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.cc>button {
    display: inline-block;
    width: 155px;
    height: 32px;
    line-height: 31px;
    margin-top: 15px;
    color: #dfdfdf;
    text-align: center;
    border: 1px solid #878787;
    background: #4a4a4a;
    border-radius: 6px;
}

.foot_btm>.fam_site {
    float: right;
    position: relative;
    width: 242px;
    height: 34px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.fam_site>a {
    display: block;
    padding: 0 13px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.4);
    position: relative;
}

.fam_site>ul {
    display: none;
    background: rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 0;
    position: absolute;
    left: -1px;
    bottom: 100%;
    width: 242px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.foot_btm:after {
    display: block;
    content: "";
    clear: both;
}