@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
#Monami_menu {
    width: 100%;
}

.Menu {
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: #ffffff;
}

/*메뉴 탑 베너*/
.m_top {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eaeaea;
}

.m_top>.conwrap {
    width: 1400px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.sns {
    display: flex;
    width: 210px;
    height: 35px;
    margin-top: 14px;
}

.sns>div {
    width: 75px;
    height: 25px;
    padding-left: 15px;
    background: url(../IMG/lang_kor.gif) no-repeat 10px center;
}

.sns>div>ul {
    width: 40px;
    display: block;
    margin: auto;
    padding-left: 12px;
    font-size: 13.5px;
    text-align: center;
}

.sns>div>ul>li {
    list-style: none;
}

.sns>div>ul>li:nth-child(2) {
    display: none;
}

.sns>div>ul:nth-child(1):hover .hidden_lan {
    display: block;
}

.sns>button {
    margin-left: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}

.sns>button>a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
}
.sns>button>a>img {
    width: 100%;
    height: 100%;
    justify-content: center;
    object-fit: cover;
}

.small_menu {
    width: 250px;
    height: 25px;
    margin-top: 20px;
}

.small_menu>ul {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.small_menu>ul>li {
    display: inline-block;
    overflow: hidden;
    padding-left: 12px;
    font-size: 13px;
    line-height: normal;
    margin: auto;
    text-align: center;
}

.small_menu>ul>li>a {
    color: #9b9a9a;
    text-align: center;
}

.small_menu>ul>li:first-child {
    margin-left: 0;
}

.small_menu>ul>li::after {
    content: "|";
    margin-left: 10px;
    color: #9b9a9a;
}

.small_menu>ul>li:last-child::after {
    content: none;
}

/*메뉴 바텀 베너*/
.m_bottom {
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eaeaea;
}

.m_bottom>.conwrap {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.m_bottom>.conwrap>.logo {
    width: 162px;
    height: 100%;
}

.m_bottom>.conwrap>.logo>a>img {
    width: 100%;
    height: 100%;
    justify-content: center;
    object-fit: cover;
    vertical-align: middle;
}

.nav_wrap {
    width: 1172px;
    height: 100%;
}

nav {
    width: 100%;
    height: 100%;
}

nav>ul {
    margin: 0;
    position: relative;
}

nav>ul>li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 167.52px;
    height: 88px;
    line-height: 88px;
    position: relative;
    font-size: 17px;
    list-style: none;
}

nav>ul>li:hover {
    border-bottom: 3px solid #c40f39;
}

nav>ul>li:hover .hidden_menu {
    display: block;
    transition: all 0.3s;
}

nav>ul>li>a {
    display: block;
    height: 100%;
    color: #303030;
    transition: all 0.3s;
    font-size: 17px;
    font-weight: bold;
}

nav>ul>li>a:hover {
    color: #c40f39;
    transition: all 0.3s;
}

nav>ul>.menu_detail .hidden_menu {
    padding: 0;
    display: none;
    transition: all 0.3s;
}

nav>ul::before {
    content: "";
    width: calc(100% + 450px + 450px);
    height: 425px;
    position: absolute;
    left: -450px;
    /* right: 0; */
    top: 89px;
    visibility: hidden;
    opacity: 0;
    background: rgba(255,255,255,0.95);
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}
nav>ul.show-bg::before {
    visibility: visible;
    opacity: 1;
}
nav>ul>li>.hidden_menu>li {
    list-style: none;
     border-bottom: 1px solid #e1e1e1;
    transition: all 0.3s;
}

nav>ul>li>.hidden_menu>li:hover {
    transition: all 0.3s;
    border-bottom: 1px solid #c40f39;
}

nav>ul>li>.hidden_menu>li>a {
    text-align: center;
    color: #676767;
    height: 49px;
    line-height: 49px;
    font-size: 14px;
    display: block;
    transition: all 0.3s;
}

nav>ul>li>.hidden_menu>li>a:hover {
    color: #c40f39;
    transition: all 0.3s;
}

.m_bottom>.conwrap>.search {
    width: 60px;
    display: flex;
}

.m_bottom>.conwrap>.search>.nav_search {
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-right: 18px;
}

.m_bottom>.conwrap>.search>.nav_search>a>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
}

.m_bottom>.conwrap>.search>.btn_all {
    width: 20px;
    height: 20px;
    margin-top: 36px;
}

.btn_all div {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin-bottom: 5px;
    transition: all 0.4s;
}
