@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap');

#container {
    width: 100%;
    overflow: hidden;
    margin-top: 149px;
    padding-bottom: 150px;
}

#bgimg>.pagetitle {
    width: 100%;
    height: 342px;
    text-align: center;
    z-index: 5;
}

#bgimg>.pn1 {
    background: url("../IMG/page_visual1.jpg") no-repeat center;
}

.pagetitle h2 {
    padding-top: 120px;
    font-size: 34px;
    color: #fff;
    font-weight: 500;
}

.pagetitle h2::after {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    margin: 5px auto 10px;
    background: #c40f39;
}

.pagetitle p {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}

.pagelist {
    position: relative;
    max-width: 1400px;
    width: 100%;
    margin: -29px auto 85px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.pagelist>ul {
    overflow: hidden;
    background: #fff;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagelist>ul.m1 li {
    width: calc(100% / 8);
    list-style: none;
}

.pagelist>ul li a {
    display: block;
    height: 58px;
    line-height: 58px;
    text-align: center;
    font-size: 15px;
    color: #666;
    background: #fff;
    border-right: 1px solid #ddd;
}

#CEO {}

#CEO>.title1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 600;
    color: #000;
    text-align: center;
    letter-spacing: 2px;
}

#CEO>.title1::after {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    margin: 5px auto 95px;
    background: #c40f39;
}

#CEO>.title1>span {
    color: #c40f39;
}

.CI_conwarp {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    position: relative;
}

.CI_conwarp>.ci_logo {
    width: 100%;
}

.CI_conwarp .num_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 23px;
    color: #000;
}

.num_title>span {
    display: inline-block;
    vertical-align: top;
    width: 29px;
    height: 29px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    line-height: 29px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #fff;
    background: #c40f39;
}

.ci_logo>.en {
    float: left;
    width: 671px;
    margin-bottom: 70px;
}

.down {
    margin-top: 20px;
}

.down a {
    display: block;
    width: 325px;
    height: 53px;
    text-align: center;
    line-height: 53px;
    border: 1px solid #e5e5e5;
    color: #666;
    transition: all 0.3s;
}

.down a:hover {
    background: #c40f39;
    color: #fff;
    transition: all 0.3s;
}

.down a:nth-child(1) {
    float: left;
}

.down a:nth-child(2) {
    float: right;
}

.ci_logo>.kr {
    float: right;
    width: 671px;
    margin-bottom: 70px;
}

.ci_logo>.text_info {
    clear: both;
    display: table;
    background: url("../IMG/ci_logo_textbox_bg.jpg") no-repeat;
    width: 1398px;
    height: 401px;
    text-align: center;
    border: 1px solid #ddd;
    margin: 0 auto;
}

.ci_logo>.text_info>.align {
    vertical-align: middle;
    display: table-cell;
}

.text_info>.align>p {
    margin-bottom: 25px;
    font-size: 16px;
    color: #dadada;
    line-height: 180%;
    font-weight: 300;
}

.text_info>.align>p>span {
    background-color: #c40f39;
    color: #fff;
}

.ci_color {
    margin: 75px 0;
}

.ci_color>.color_box {
    border: 1px solid #ddd;
    padding: 50px;
}

.color_box>span:nth-child(1) {
    float: left;
    margin-left: 45px;
}

.color_box>span:nth-child(2) {
    float: right;
    margin-right: 45px;
}

.color_box>span {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 26px;
    color: #000;
}

.ci_rule>.rule_box {
    border: 1px solid #ddd;
    padding: 50px;
}

.rule_box>.text_info {
    margin-top: 30px;
    padding: 50px;
    border: 1px solid #ddd;
}

.rule_box>.text_info>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.rule_box>.text_info>ul>li {
    padding-left: 12px;
    background: url("../IMG/list_bg2.gif") no-repeat left 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 240%;
}

.ci_charater {
    margin-top: 80px;
    padding-top: 80px;
    border-top: 1px solid #ddd;
}

.ci_charater>.charater_tit {
    margin-bottom: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #000;
    font-weight: 500;
    text-align: center;
}

.charater_tit:after {
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    margin: 10px auto;
    background: #c40f39;
}

.ci_charater>.mobee1 {
    float: left;
    width: 671px;
    margin-bottom: 70px;
}

.ci_charater>.mobee2 {
    float: right;
    width: 671px;
    margin-bottom: 70px;
}

.ci_charater>.mobee_profile {
    clear: both;
    margin-bottom: 60px;
}

.mobee_profile>.charater_profile {
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 30px;
}

.charater_profile>.charater_img {
    float: left;
    position: relative;
    margin-right: 60px;
}

.charater_profile>.mobee_info {
    float: left;
    display: table;
    height: 301px;
}

.mobee_info>div {
    display: flex;
    margin-bottom: 15px;
    overflow: hidden;
}

.mobee_info>div>p:nth-child(1) {
    width: 77px;
    padding-left: 12px;
    font-size: 17px;
    font-weight: 400;
    color: #000;
    background: url("../IMG/list_bg2.gif") no-repeat left 10px;
}

.mobee_info>div>p:nth-child(2) {
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    line-height: 160%;
}
.mobee_info > div:nth-child(2) > p:nth-child(2) > span{
    color: #c40f39;
}

.ci_charater > .mobee3{
    float: left;
    width: 671px;
    margin-bottom: 70px;
}
.ci_charater > .mobee4{
    float: right;
    width: 671px;
    margin-bottom: 70px;
}

footer {
    width: 100%;
    background: #111;
    position: relative;
    padding: 60px 0 65px;
}

.foot {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

.foot_top {
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    max-height: 50px;
}

.foot_top>h1>img {
    text-align: center;
    vertical-align: auto;
}

.foot_top>ul {
    overflow: hidden;
}

.foot_top>ul>li {
    display: inline-block;
    padding-right: 11px;
    margin-right: 10px;
    background: url(../IMG/fm_bar.gif) no-repeat right center;
}

.foot_top>ul>li>a {
    color: rgba(255, 255, 255, 0.5);
}

.foot_top>ul>li:last-child {
    background: none;
}

.foot_btm {
    padding-top: 20px;
}

.foot_btm>.foot_info {
    float: left;
    margin-right: 55px;
}

.foot_info>h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

.foot_info>address {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
}

.foot_info>address>span {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 3px;
}

.foot_info>p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
}

.foot_btm>.cc {
    float: left;
}

.cc>h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #fff;
    margin-bottom: 10px;
}

.cc>p {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.cc>button {
    display: inline-block;
    width: 155px;
    height: 32px;
    line-height: 31px;
    margin-top: 15px;
    color: #dfdfdf;
    text-align: center;
    border: 1px solid #878787;
    background: #4a4a4a;
    border-radius: 6px;
}

.foot_btm>.fam_site {
    float: right;
    position: relative;
    width: 242px;
    height: 34px;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.fam_site>a {
    display: block;
    padding: 0 13px;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.4);
    position: relative;
}

.fam_site>ul {
    display: none;
    background: rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 0;
    position: absolute;
    left: -1px;
    bottom: 100%;
    width: 242px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.foot_btm:after {
    display: block;
    content: "";
    clear: both;
}